# Aula 01

ERROR: Could not find a version that satisfies the requirement Python3.8
ERROR: No matching distribution found for Python3.8

# 1.0. Início

## Agenda:

In [ ]:
# 1. O problema de negócio.
# 2. Planejamento da solução.
# 3. O que é Python?
# 4. Como escrever código Python?
# 5. Os primeiros comandos em Python.
# 6. Responder as questões de negócio.
# 7. Exercícios.

## Bibliotecas

In [1]:
import pandas as pd

## Importação de dados

In [6]:
data = pd.read_csv('/home/luis/DS/Zero_Ao_DS/data/kc_house_data.csv')

## Perguntas do CEO

In [ ]:
# A principal estratégia?
# -Fontes externas para encontrar bons negócios.

# As perguntas do CEO da House Rocket:
# 1. Quantas casas estão disponíveis para compra?
# 2. Quantos atributos as casas possuem? (número de quartos, número de garagens, m2, vista para o mar)
# 3. Quais são os atributos?
# 4. Qual a casa mais cara do portifólio?
# 5. Qual a casa com o maior número de quartos?

# 2.0. Planejamento da solução

## 2.1. Planjamento do produto final.

In [ ]:
# O que vou entregar? (Planilha, Texto, Email, Modelos de ML,...)
# R.: Textos com as respostas.

# Como vai ser a entrega?
# R.: Perguntas | Respostas

#

## 2.2. Planejamento do processo.

In [ ]:
# Onde está a informação? (Excel, BD, API, manual,...)
# R.: https://www.kaggle.com/harlfoxem/housesalesprediction

# Como coletar essas informações? (SQL, Pthon, Streamlit,...)
# Download do dataset "House Sales Prediction" no Kaggle

# Responder as perguntas:
# -Quantas casas estão disponíveis para compra?
#  R.: Contar o número de linhas do conjunto de dados.

# -Quantos atributos as casas possuem?
#  R.: Contar o número de colunas do conjunto de dados.

# -Qual a casa mais cara do portifólio?
#  R.:Ordenar as linhas pela coluna de preço.

# -Qual a casa com o maior número de quartos?
#  R.:Ordenar o número de linhas pela coluna número de quartos

## 2.3. Planejamento das ferramentas.

In [ ]:
# Quais ferramentas eu posso usar?
# - Excel( Fácil de usar, barato, usado pelos times não técnicos, poder de processamento limitado (1MM de linhas))

# - Linguagem de programação ( Desenvolvida para criar softwares, escalável, modularização,...)

# 3.0. O que é o Python?

In [ ]:
# O que é uma linguagem de programação?

# Wikipedia: "A linguagem de programação é um método padronizado, formado por um conjunto de 
# regras sintáticas e semânticas, de implementação de um código fonte - que pode ser compilado e 
# transformado em um programa de computador, ou usado como script interpretado - 
# que informará instruções de processamento ao computador. Permite que um programador 
# especifique precisamente quais os dados que o computador irá atuar, como estes dados serão armazenados ou 
# transmitidos e, quais ações devem ser tomadas de acordo com as circunstâncias. Linguagens de programação podem 
# ser usadas para expressar algoritmos com precisão."

# 4.0 Como escrever código Python?

In [ ]:
# Editor de texto:
# -Bloco de Notas
# -Gedit
# -TextEdit

In [ ]:
# Interpretador:
# -Python 2.x
# -Python 3.x
# IDE (Interface Development Enviroment):
# -PyCharm
# -Spyder
# -VSCode
# -JupyterLab

# 5.0 Os primeiros comandos em Python.

In [ ]:
#Esse capítulo foi executado no PyCharm.

In [ ]:
#import pandas as pd
#data = pd.read_csv("endereço do banco de dados")

In [ ]:
data.head()

In [10]:
#Mostre na tela o número de colunas e o número de linhas do conjunto:
data.shape

(21613, 21)

In [11]:
#Mostre na tela o nome das colunas do conjunto de dados
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [14]:
#Mostre na tela o conjunto de dados ordenados pela coluna price
data[['id', 'price']].sort_values('price')

               id      price
1149   3421079032    75000.0
15293    40000362    78000.0
465    8658300340    80000.0
16198  3028200080    81000.0
8274   3883800011    82000.0
...           ...        ...
1448   8907500070  5350000.0
4411   2470100110  5570000.0
9254   9208900037  6885000.0
3914   9808700762  7062500.0
7252   6762700020  7700000.0

[21613 rows x 2 columns]

In [15]:
#mostre na tela o conjunto de dados ordenados pela coluna price do maior para o menor
data[['id', 'price']].sort_values('price', ascending=False)

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

# 6.0 Responder as questões de negócio.

# 7.0 Exercícios.

In [18]:
#Há duplicatas?
data['id'].duplicated().value_counts()

False    21436
True       177
Name: id, dtype: int64

In [19]:
#Remoção de duplicatas
data.drop_duplicates(subset='id', keep='last', inplace=True)

In [23]:
#1. Quantas casas estão disponíveis para compra?
disp = data.shape[0]
print(f"A quantidade de casas disponíveis é de {disp} unidades.")

A quantidade de casas disponíveis é de 21436 unidades.

In [22]:
#2. Quantos atributos as casas possuem?
atrib = data.shape[1]
print(f"São {atrib} os atributos das casas.")

São 21 os atributos das casas.

In [49]:
#3. Quais são os atributos das casas?
qatrib = data.columns
print(f"Os atributos são: {qatrib}")

Os atributos são: Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [34]:
#4. Qual a casa mais cara?
mvalor = data.loc[data['price'] == max(data['price']), 'id'].item()
mvalorc = data['price'].max()
print(f"A casa mais cara é a de ID {mvalor}, e o seu valor é de US${mvalorc}")

A casa mais cara é a de ID 6762700020, e o seu valor é de US$7700000.0

In [36]:
#5. Qual a casa com o maior número de quartos?
mquartos = data.loc[data['bedrooms'] == max(data['bedrooms']), 'id'].item()
nquartos = data['bedrooms'].max()
print(f"A casa com o maior número de quarto é a com ID {mquartos} com a quantidade de {nquartos} quartos.")

A casa com o maior número de quarto é a com ID 2402100895 com a quantidade de 33 quartos.

In [38]:
#6. Qual a soma total de quartos do conunto de dados?
squartos = data.loc[:, 'bedrooms'].sum()
print(f"O total de quartos no portfólio é de {squartos} quartos")

O total de quartos no portfólio é de 72273 quartos

In [40]:
#7. Quantas casas possuem 2 banheiros?
b2 = data.loc[data['bathrooms'] == 2, 'id'].value_counts().sum()
print(f"O total de casas com 2 banheiros é de {b2} imóveis")

O total de casas com 2 banheiros é de 1913 imóveis

In [42]:
#8. Qual o preço médio de todas as casas no conjunto de dados?
mp = data['price'].mean()
print(f"A média de preços de todas as casas é de US${mp:5.2f}")

A média de preços de todas as casas é de US$541649.96

In [46]:
#9. Qual o preço médio de casas com 2 banheiros?
pm2b = data.loc[data['bathrooms'] == 2, 'price'].mean()
print(f"O preço médio das casas com 2 banheiros é de US${pm2b:5.2f}")

O preço médio das casas com 2 banheiros é de US$459307.01

In [48]:
#10. Qual o preço mínimo entre as casas com 3 quartos?
pm3q = data.loc[data['bedrooms'] == 3, 'price'].min()
print(f"O preço mínimo entre as casas com 3 quartos é de US${pm3q:5.2f}")

O preço mínimo entre as casas com 3 quartos é de US$89000.00